{% extends '_base.html' %}
{% block title %}Book list {% endblock title %}
{% block content %}

<h1>Book list for the group</h1>
<div class="row">
{% for book in books %}
<div class="col-md-6">
    <div class="card my-2">
        <div class="card-header">{{book.title|truncatechars:26}} </div>
        <div class="card-body">
            <p class="text-info">Author: {{book.author_name|truncatechars:40}}</p>
            <p>Page-no: {{ book.pageno }}</p>
            <p>Created at: {{ book.created_at }}</p>
            <p>Updated at: {{ book.updated_at }}</p>
        </div>
    </div>

    </div>
{% endfor %}
</div>
{% endblock content %}