<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}
{% block title %}Home2{% endblock title %}

{% block content %}
    <h1>Home 2</h1>
    <img class="bookcover" src="{% static 'images/im1.png' %}">
    {% if user.is_authenticated %}
    <h3>
    Hi {{ user.email }} </h3> <hr>
    {% if request.user|has_group:"admingrp" and request.user|has_group:"editorgrp" and request.user|has_group:"viewergrp" %} 
    <p>You are in the Group - Admin</p> 

    {% elif request.user|has_group:"editorgrp" %} 
    <p>You are in the Group - Editor</p> 

    {% elif request.user|has_group:"viewergrp" %} 
    <p>You are in the Group - Viewer</p> 


    {% else %}
    <p>You aren't in any Group</p>
    {% endif %}
    
    <hr>
    <br>
    <a href="{% url 'logout' %}">Log Out</a>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a><br>
    <p>Not yet member?</p>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}